Tutorials/0. Explore the Contoso Jobs App/0. Start Contoso Jobs/bin/
Tutorials/0. Explore the Contoso Jobs App/0. Start Contoso Jobs/obj/
Tutorials/0. Explore the Contoso Jobs App/0. Start Contoso Jobs/project.lock.json
